<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="latproject.com.myfinance">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".MyFinanceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.homescreen.activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.transactions.activities.TransactionsActivity"
            android:label="@string/title_activity_transactions"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".core.services.sms.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".views.selectbank.activities.SelectBankActivity"
            android:label="@string/title_activity_select_bank"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.budgets.activities.BudgetsListActivity"
            android:label="@string/title_activity_budgets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.transactiondetails.activities.TransactionDetailsActivity"
            android:label="@string/title_activity_transaction_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.budgets.activities.CreateBudgetActivity"
            android:label="@string/title_activity_create_budget"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>